<p>toys-list works!</p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <select id="age" formControlName="age">
    <option value="">Choose Age</option>
    <option *ngFor="let age of ages" [value]="age">{{ age }}</option>
  </select>
  <br />
  <br />

  <select id="gender" formControlName="gender">
    <option value="">Choose Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <br />
  <br />

  <button type="submit">Submit</button>
</form>
<h1 *ngIf="age && gender">
  You selected age is {{ age }} and gender is {{ gender }}
</h1>
<table *ngIf="searchClicked">
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <tr
    [routerLink]="['/toy-detail/', toy.id]"
    style="cursor: pointer;"
    id="15"
    *ngFor="let toy of toys"
  >
    <td>{{ toy.name }}</td>
    <td>{{ toy.price }}</td>
  </tr>
</table>
