<div class="container">
  <h4>Shopping cart</h4>
  <div *ngIf="carts.length > 0">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price (USD)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tr *ngFor="let item of carts">
          <td>{{ item.name }}</td>
          <td>
            <form [formGroup]="quantityForm">
              <select id="quantity" formControlName="quantity">
                <option [value]="item.currentQuantity">{{
                  item.currentQuantity
                }}</option>
                <option [value]="item.currentQuantity + 1">{{
                  item.currentQuantity + 1
                }}</option>
                <option [value]="item.currentQuantity + 2">{{
                  item.currentQuantity + 2
                }}</option>
                <option [value]="item.currentQuantity + 3">{{
                  item.currentQuantity + 3
                }}</option>
              </select>
              <br />
              <br />
            </form>
          </td>
          <td>{{ item.price }}</td>
          <td><button (click)="onDelete(item.id)">Delete</button></td>
        </tr>
      </table>
    </div>

    <form [formGroup]="form">
      <label>
        <input
          type="radio"
          (change)="onChangeCarrier($event)"
          value="kerry"
          name="carrier"
        />
        <span>Kerry</span>
      </label>
      <br />
      <label>
        <input
          type="radio"
          (change)="onChangeCarrier($event)"
          value="EMS"
          formControlName="carrier"
        />
        <span>EMS</span>
      </label>
      <br />
      <label>
        <input
          type="radio"
          (change)="onChangeCarrier($event)"
          value="lineman"
          formControlName="carrier"
        />
        <span>Line man</span>
      </label>
    </form>

    <div>
      <h4>Sub Total : {{ itemTotal | currency }}</h4>
      <h4>Shipping price : {{ currentlySelectedCarrierPrice | currency }}</h4>
      <h4>Grand Total : {{ totalPrice | currency }}</h4>
    </div>

    <button [routerLink]="['/ship']" id="btn_proceed_checkout" type="submit">
      Process to Checkout
    </button>
  </div>
  <div style="padding-top: 50px;" *ngIf="carts.length === 0">
    <div class="row">
      <div class="col">
        <h2 style="text-align: center;">The cart is empty</h2>
      </div>
    </div>
  </div>
</div>
